/* var.css */
:root {
  /* 标题
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient( 135deg, #abd0e7 10%, #0c2e9a 100%);
  */

  /* 图标背景 */
  --vp-home-hero-image-background-image: linear-gradient( 35deg, #86c6d5 10%, #1240c5 100%);
  --vp-home-hero-image-filter: blur(150px);

}
